/*********************************
        General Styles
*********************************/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.video-list li {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

.main {
    margin: 20px auto;
    max-width: 500px;
}

/*********************************
        Header Styles
*********************************/
.main-dropdown {
    margin: 10px;
}

.injestion-pipeline {
    display: inline-block;
    right: 50px;   
}

.logout-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.user-title {
    position: absolute;
    top: 10px;
    left: 10px;
}

/*********************************
        Video List Styles
*********************************/

.video-body {
    margin-left: 20px;
}

.approve-video {
    display: inline-block;
    float: right;
    margin: 10px;
}

.reject-video {
    display: inline-block;
    float: right;
    margin: 10px;
}

.video-list h4 {
    cursor: pointer;
}

/*********************************
        Approve Modal Styles
*********************************/
.approve-dropdown {
    display: inline-block;
    margin: 10px;
}